@model JupebPortal.Models.Payment

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add new transaction</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId">Applicant</label>
                <select asp-for="UserId" class="form-control select2" asp-items="@ViewBag.applicants">
                    <option value="" disabled selected>Select applicant</option>
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="PaymentRef" class="control-label"></label><span> or bank reference number (optional)</span>
                <input asp-for="PaymentRef" class="form-control" />
                
                <span asp-validation-for="PaymentRef" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionID" class="control-label"></label>
                <input asp-for="TransactionID" class="form-control" value="@ViewBag.TransactionID" readonly />
                <span asp-validation-for="TransactionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                @* <input asp-for="Amount" class="form-control" /> *@
                <input name="Amount" class="form-control" type="number" value="10500"/>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Purpose" class="control-label"></label>
                @* <input asp-for="Purpose" class="form-control" /> *@
                <select asp-for="Purpose" class="form-control" id="purposeSelect">
                    <option>Jupeb Application Fee</option>
                </select>
                <span asp-validation-for="Purpose" class="text-danger"></span>
            </div>
            <div class="form-group form-check" style="display: none;">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsSuccess" checked/> @Html.DisplayNameFor(model => model.IsSuccess)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PaymentChannel" class="control-label"></label>
                @* <input asp-for="PaymentChannel" class="form-control" /> *@
                <select asp-for="PaymentChannel" class="form-control">
                    <option>Remita</option>
                    <option>Transfer</option>
                    <option>Bank deposit</option>
                    <option>Other</option>
                </select>
                <span asp-validation-for="PaymentChannel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentDate" class="control-label"></label>
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
