
@model JupebPortal.Models.ApplicationUser;
@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_Layout with sidebar.cshtml";
}
<br />
<br />
<br />
<br />

<div class="text-center">
    <h6 class="display-4 text-secondary"><b>Welcome Admin</b></h6>
</div>
   


