@inject Microsoft.Extensions.Configuration.IConfiguration Configuration

@{
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.0.2/sha512.js"></script> <!-- Include jsSHA library -->

<h4>Verify Payment</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <form>
            <div class="form-group">
                <label class="control-label">Transaction ID</label>
                <input value="@ViewBag.TransactionID" type="text" id="TransactionID" class="form-control" />
            </div>
            
        </form>
        <button id="checkStatusBtn" class="btn btn-primary">Check Status</button>
        <span id="spinnerDiv"></span>
        <div id="statusMessage"></div>
    </div>
</div>

<div id="resultDiv">

</div>

<div id="approveBtnDiv">

</div>
@{
    string publicKey = Configuration.GetSection("Remita:PublicKey").Value;
    string secretKey = Configuration.GetSection("Remita:SecretKey").Value;
    string remitaUrl = Configuration.GetSection("Remita:BaseStatusUrl").Value;
}
@section scripts{
    <script type="text/javascript">
            document.getElementById("checkStatusBtn").addEventListener("click", function () {
            var transactionId = document.getElementById("TransactionID").value;
            var html = `<div class="spinner-border spinner-border-sm ms-auto" role="status" aria-hidden="true"></div>`;
            var spinnerDivContainer = document.getElementById("spinnerDiv");
            spinnerDivContainer.innerHTML = html;

            var statusMessageContainer = document.getElementById("statusMessage");
            
            var secretKey = "@secretKey";

            var shaObj = new jsSHA("SHA-512", "TEXT"); // Create SHA-512 object
            shaObj.update(transactionId + secretKey); // Concatenate and hash the transaction ID with secret key
            var hashValue = shaObj.getHash("HEX"); // Get the hash value in hexadecimal format
            var settings = {
                "url": "@remitaUrl" + transactionId,
                "method": "GET",
                "timeout": 0,
                "headers": {
                    "publicKey": "@publicKey",
                    "Content-Type": "application/json",
                    "TXN_HASH": hashValue
                },
            };

            $.ajax(settings)
                .done(function (response) {
                    console.log(response);
                        spinnerDivContainer.innerHTML = "";
                    paymentReference = response.responseData[0].paymentReference;
                    paymentDate = response.responseData[0].paymentDate;
                    amount = response.responseData[0].amount;
                    paymentState = response.responseData[0].paymentState;
                    processorId = response.responseData[0].processorId;
                    trId = response.responseData[0].transactionId;
                    debitedAmount = response.responseData[0].debitedAmount;
                    customerId = response.responseData[0].customerId;
                    message = response.responseData[0].message;
                    paymentChannel = response.responseData[0].paymentChannel;
                    name = response.responseData[0].firstName + " " + response.responseData[0].lastName;
                    var html = `<br />
                    <table>
                        <tr>
                            <th>Key</th>
                            <th>Value</th>
                        </tr>
                        <tr>
                            <td>Transaction ID:</td>
                            <td>${trId}</td>
                        </tr><tr>
                            <td>Payment reference:</td>
                            <td>${paymentReference}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td>${customerId}</td>
                        </tr>
                        <tr>
                            <td>Name:</td>
                            <td>${name}</td>
                        </tr>
                        <tr>
                            <td>Date:</td>
                            <td>${paymentDate}</td>
                        </tr>
                        <tr>
                            <td>Amount:</td>
                            <td>${amount}</td>
                        </tr>
                        <tr>
                            <td>Debited Amount:</td>
                            <td>${debitedAmount}</td>
                        </tr>
                        <tr>
                            <td>Payment Channel:</td>
                            <td>${paymentChannel}</td>
                        </tr>
                        <tr>
                            <td>Processor ID:</td>
                            <td>${processorId}</td>
                        </tr>
                        <tr>
                            <td>Status:</td>
                            <td><b>${paymentState}</b></td>
                        </tr>
                        <tr>
                            <td>Message:</td>
                            <td>${message}</td>
                        </tr>
                    </table>`;
                    $("#resultDiv").html(html);
                    
                    html = `<button class="btn btn-primary btn-sm" onclick="approvePayment('${transactionId}', '${paymentReference}', '${paymentDate}', '${amount}', '${paymentState}')">Approve</button>`;

                    if(paymentState == "SUCCESSFUL"){
                        $("#approveBtnDiv").html(html);
                    }
                                        
                });
        });

        function approvePayment(transactionId, paymentReference, paymentDate, amount, paymentState) {
            var statusMessageContainer = document.getElementById("statusMessage");
            $.ajax({
                    url: '/Admin/VerifyPayment',
                    type: 'POST',
                data: { transactionId: transactionId, paymentReference: paymentReference, paymentDate: paymentDate, amount: amount, paymentState: paymentState },
                    success: function (data) {
                        console.log('Payment approved', data);
                        html = `<div class="alert alert-success alert-dismissible fade show" role="alert">
                                            Payment approved.
                                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                            </div>`;
                        statusMessageContainer.innerHTML = html;
                    },
                    error: function (error) {
                        console.log('Error saving payment to database', error);
                        html = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                    An error occurred.
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>`;
                        statusMessageContainer.innerHTML = html;
                    }
                })
                .fail(function (jqXHR, textStatus, errorThrown) {
                        console.error("AJAX request failed:", textStatus, errorThrown);
                        html = `<div class="alert alert-danger alert-dismissible fade show" role="alert">
                                                    An error occurred.
                                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                    </div>`;
                        statusMessageContainer.innerHTML = html;
                    });
        }
    </script>
}