@model JupebPortal.Models.ResetPassword

@{
    ViewData["Title"] = "ResetPassword";
    Layout = null;
}


<html lang="en">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="~/login/images/icons/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="~/login/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/login/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="~/login/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="~/login/vendor/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="~/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/login/css/main.css">

</head>
<body>

    <div class="row">
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <div class="login100-pic js-tilt" data-tilt>
                        <img src="~/images/elizade.png" />
                    </div>
                    <div class="col-md-4 offset-4">
                        @if (Model?.IsSuccess == true)
                        {
                            <div class="alert alert-success" role="alert">
                                <p>
                                    You have updated your password successfully.
                                </p>
                            </div>
                        }
                        else
                        {
                            <form class="login100-form" asp-action="ResetPassword">
                                <div>
                                    <p class="login100-form-title">
                                        Reset your password
                                    </p>
                                </div>

                                <br />

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="UserId" class="form-control" />
                                <input type="hidden" asp-for="Token" class="form-control" />

                                <div class="text-center p-t-5">
                                    <div asp-validation-summary="All" class="text-danger"></div>
                                </div>

                                <div class="wrap-input100" aria-required="true">
                                    <input class="input100" type="text" placeholder="Set New Password" asp-for="@Model.NewPassword">
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>

                                </div>

                                <div class="wrap-input100" aria-required="true">
                                    <input class="input100" type="text" placeholder="Confirm Password" asp-for="@Model.ConfirmNewPassword">
                                    <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>

                                </div>

                                <div class="container-login100-form-btn">
                                    <input type="submit" value="Reset password" class="login100-form-btn" />
                                </div>




                            </form>
                        }
                        <div class="text-center p-t-50">

                            Back to
                            <a class="txt2" asp-area="Identity" asp-page="/Account/Login">
                                <b>Login</b>

                                <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>








    <script src="~/login/vendor/jquery/jquery-3.2.1.min.js"></script>

    <script src="~/login/vendor/bootstrap/js/popper.js"></script>

    <script src="~/login/vendor/bootstrap/js/bootstrap.js"></script>
    <link href="~/login/vendor/select2/select2.min.css" rel="stylesheet" />
    <script src="~/login/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <script src="js/main.js"></script>

</body>
</html>
