@model JupebPortal.Models.ApplicationUser
@{
    ViewData["Title"] = "Application Success";
}
<br />
<br />

<div class="text-center">
    <h6 class="display-4 text-secondary"><b>Application Successful</b></h6>
</div>
<br />
<br />
<div>
    <p>
        <div class="row">
            <div class="col">
                <ul>
                    <li><a href="https://euconnect.com.ng/application-form-2023-2024/" target="_blank"><span class="fa fa-home mr-3"></span> Click here to complete your bio-data</a></li>
                    <li><a href="https://euconnect.com.ng/appointment/" target="_blank"><span class="fa fa-home mr-3"></span> Click here to apply for hostel reservation.</a></li>
                </ul>
            </div>
        </div>
    </p>
</div>
<br />
<br />
<br />
<div>
    <p class="text-danger">
        For any further information, send an email to: admissions@elizadeuniversity.edu.ng
    </p>
</div>


