@model JupebPortal.Models.ApplicationUser
@{
    ViewData["Title"] = "Application Success";
}
<br />
<br />
<br />
<br />

<div class="text-center">
    <h6 class="display-4 text-secondary"><b>Application Successful</b></h6>
</div>
<br />
<br />
<div>
    <p>You will be notified soon on the status of your application.</p>
    <p>Kindly check your email regularly for update, or contact admission office on </p>
</div>
<div>
    <ul>
        <li>
            Email: admissions@elizadeuniversity.edu.ng
        </li>
    </ul>
</div>


